global
  log /dev/log len 4096 local0
  log /dev/log len 4096 local1 notice
  chroot /var/lib/haproxy
  stats socket /run/haproxy/admin.sock mode 660 level admin
  stats timeout 30s
  user haproxy
  group haproxy
  daemon
  maxconn 20000 # raising in the defaults without raising global makes no sense (!!)

  # Default SSL material locations
  ca-base /etc/ssl/certs
  crt-base /etc/ssl/private

  # Default ciphers to use on SSL-enabled listening sockets.
  # For more information, see ciphers(1SSL).
  ssl-default-bind-ciphers ECDHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA256:ECDHE-RSA-AES256-SHA:ECDHE-RSA-AES128-SHA:ECDHE-RSA-DES-CBC3-SHA:AES256-GCM-SHA384:AES128-GCM-SHA256:AES256-SHA256:AES128-SHA256:AES256-SHA:AES128-SHA:DES-CBC3-SHA:!aNULL:!eNULL:!EXPORT:!DES:!MD5:!PSK:!RC4
  # Keep DH params size at 1024 for Java 6 HTTPS clients
  tune.ssl.default-dh-param 1024

defaults
  log global
  mode http
  # option httplog
  option dontlognull
  maxconn 20000 # raising in the defaults without raising global makes no sense (!!)
  timeout connect 5000
  timeout check 30000
  timeout client 90s
  timeout server 1h
  errorfile 400 /etc/haproxy/errors/400.http
  errorfile 403 /etc/haproxy/errors/403.http
  errorfile 408 /etc/haproxy/errors/400.http
  errorfile 500 /etc/haproxy/errors/500.http
  errorfile 502 /etc/haproxy/errors/500.http
  errorfile 503 /etc/haproxy/errors/500.http
  errorfile 504 /etc/haproxy/errors/500.http

listen prometheus_haproxy
  mode http
  bind <%= node['prometheus']['haproxy']['listen_address'] %>
  log-format %ci:%cp\ [%t]\ %ft\ %b/%s\ %Tq/%Tw/%Tc/%Tr/%Tt\ %ST\ %B\ %U\ %CC\ %CS\ %tsc\ %ac/%fc/%bc/%sc/%rc\ %sq/%bq\ %hr\ %hs\ %{+Q}r
  balance first
  option forwardfor
  <% node['prometheus']['haproxy']['servers'].each do |name, address| %>
    server <%= name %> <%= address %> check inter 5000 fall 3
  <% end %>
